<!DOCTYPE html>
<html>
  <head>
    <title>Social Deduction</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3><%= link_to "New Game", root_path %></h3>
    <%= yield %>
  </body>
</html>
